.description
{
  height: 70px;
  overflow: hidden;
}
.image,
.image button
{
  position: relative;
}

.image button
{
  width: 100%;
  height: 100%; 
  background: none !important;
  border: none; 
  padding: 0!important;
  font: inherit;
  border: none; 
  cursor: pointer;
  outline: none;
}
  .image button:focus
  {
    outline:0;
  }

  .image.dimmed button:after
  {
    content: " ";  
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    font-size: 48px;
    color: #fff;
    text-align: center;
    cursor: default;
  }
  .image.dimmed.d2 button:after
  {
    content: "2";
  }
  .image.dimmed.d3 button:after
  {
    content: "3";
  }
  .image.d1 button
  {
    border: solid #C20000 4px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    cursor: default;
  }
.header
{
  height: 50px;
  overflow: hidden;
}
