<div class="navbar navbar-static-top navbar-dark bg-inverse">
  <div class="container-fluid">
    <a href="/" class="navbar-brand">Band Fight</a>
    <a href="https://github.com/mikeybyker/band-fight" class="navbar-brand float-xs-right">Github</a>
  </div>
</div>

<section class="jumbotron text-xs-center">
  <div class="container">
    <h1 class="jumbotron-heading">Fight! Fight!</h1>
    <p class="lead text-muted">
      Click to reject...until you have a winner
    </p>
  </div>
</section>

<app-artist-list></app-artist-list>