<div class="navbar sticky-top navbar-inverse bg-inverse">
  <div class="navbar-text">
    <a href="./ " class="navbar-brand mr-auto ">Band Fight</a>
    <a href="https://github.com/mikeybyker/band-fight " class="navbar-brand float-right ">Github</a>
  </div>
</div>

<section class="jumbotron text-sm-center ">
  <div class="container ">
    <h1 class="jumbotron-heading ">Fight! Fight!</h1>
    <p class="lead text-muted ">
      Click to reject...until you have a winner
    </p>
  </div>
</section>

<app-artist-list></app-artist-list>